<section class="about" id="0">
    <div class="about__img"><img src="../assets/images/about.jpg" alt=""></div>
    <div class="about__description">
      <div class="title">О компании</div>
      <p class="text">Компания «Город Кафе» работает на российском рынке организации питания с 2002 года.</p>
      <p class="text">Нас отличает безупречная репутация, высокие стандарты качества и безопасности.</p>
      <p class="text">Среди наших заказчиков  крупнейшие государственные, муниципальные учреждения и коммерческие  организации.</p>
      <p class="text">Мы всегда прислушиваемся к запросам наших клиентов и стараемся превосходить их ожидания.</p>
    </div>
</section>
