extends ../layout/layout

block content
	include ../components/Sprite/sprite
	include ../components/Header/header
	main.main
		include ../components/MainSlider/index
		include ../components/About/index
		include ../components/TopFive/index
		include ../components/Services/index
		include ../components/RegionsOfPresence/index
		include ../components/Outsourcing/index
		include ../components/Advantages/index
		include ../components/Experience/index
		include ../components/Documents/index
		include ../components/Contacts/index
		include ../components/Contact/index
		include ../components/Feedback/index
	include ../components/Footer/index
	include ../components/Modal/index