<div class="modal" v-if="isModal">
    <div class="modal__wrapper" @click="closeModal"></div>
    <div class="modal__window">
      <div class="modal__wrap">
        <form class="modal__form">
          <input class="modal__input" type="text" placeholder="Как к вам обращаться" v-model="name">
          <input class="modal__input" type="tel" placeholder="Ваш номер телефона" v-model="phone">
          <input class="modal__input" type="email" placeholder="Ваш Email" v-model="email">
          <textarea class="modal__textarea" name="" id="" placeholder="Ваше сообщение" v-model="message"></textarea>
          <div class="button button--big modal__btn" :class="checked ? 'modal__btn--active' : ''">
            <label>
              <input type="checkbox" v-model="checked">
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 511.999 511.999"><path path="" d="M506.231,75.508c-7.689-7.69-20.158-7.69-27.849,0l-319.21,319.211L33.617,269.163c-7.689-7.691-20.158-7.691-27.849,0 c-7.69,7.69-7.69,20.158,0,27.849l139.481,139.481c7.687,7.687,20.16,7.689,27.849,0l333.133-333.136 C513.921,95.666,513.921,83.198,506.231,75.508z"></path></svg>
              </span> руководителю компании
            </label>
          </div>
          <button class="button button--big" :disabled="!disabledBtn">Отправить</button>
        </form>
      </div>
    </div>
</div>