<div class="contact">
    <div class="contact__container">
      <div class="title">Связаться с нами</div>
      <button class="contact__btn" @click="openModal">Отправить обращение</button>
    </div>
</div>