<div class="top-five">
<div class="top-five__title title">Компания входит в ТОП-5 крупнейших поставщиков услуг питания</div>
<div class="top-five__wrap">
    <div class="top-five__item">
    <div class="top-five__number">18 лет</div>
    <div class="top-five__text">Безупречного опыта</div>
    </div>
    <div class="top-five__item">
    <div class="top-five__number">3 500</div>
    <div class="top-five__text">Сотрудников компании</div>
    </div>
    <div class="top-five__item">
    <div class="top-five__number">420</div>
    <div class="top-five__text">Объектов в управлении</div>
    </div>
    <div class="top-five__item">
    <div class="top-five__number">250 000</div>
    <div class="top-five__text">Ежедневно питаются</div>
    </div>
</div>
</div>