<section class="feedback">
    <div class="feedback__img"><img src="../assets/images/cafe.jpg" alt=""></div>
    <div class="feedback__description">
      <div class="feedback__title title">Оставить отзыв</div>
      <div class="feedback__content">
        <p class="text">Приглашаем Вас принять участие в опросе по качеству наших услуг. </p>
        <p class="text">Мы стремимся, чтобы наши услуги максимально соответствовали Вашим ожиданиям, поэтому для нас очень важно Ваше мнение!</p>
        <p class="text">Заполнение анкеты займет у Вас не более 3 минут.</p>
      </div>
      <a href="#" class="button feedback__btn">Пройти опрос</a>
    </div>
</section>