<div class="experience">
    <div class="experience__content">
      <div class="experience__wrap">
        <div class="title">Наш опыт</div>
        <div class="swiper-container swiper-container-experience">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="text">За 20 дней был реализован масштабный социальный проект по выполнению контактных обязательств, были запущены 93 пищеблока. 90 тыс питающихся ежедневно, реконструированы пищеблоки, обеденные залы, оборудованы буфеты в 10 школах. Развернуто оборудование и внедрена электронная система Мояшкола. </div>
            </div>
            <div class="swiper-slide">
              <div class="text">За 20 дней был реализован масштабный социальный проект по выполнению контактных обязательств, были запущены 93 пищеблока. 90 тыс питающихся ежедневно, реконструированы пищеблоки, обеденные залы, оборудованы буфеты в 10 школах. Развернуто оборудование и внедрена электронная система Мояшкола. </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-actions">
        <div class="swiper-pagination swiper-pagination-experience"></div>
        <div class="swiper-button-next swiper-button-next-experience"></div>
      </div>
    </div>
    <div class="experience__img">
      <div class="swiper-container swiper-container-img swiper-no-swiping">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="../assets/images/img.jpg" alt="">
          </div>
          <div class="swiper-slide">
            <img src="../assets/images/medicine.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
</div>