<div class="documents">
    <div class="title title--center">Документы</div>
    <div class="documents__container">
      <div class="swiper-container swiper-container-documents">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img class="documents__img" src="../assets/images/licens_01@3x.png" alt="">
          </div>
          <div class="swiper-slide">
            <img class="documents__img" src="../assets/images/licens_02@3x.png" alt="">
          </div>
          <div class="swiper-slide">
            <img class="documents__img" src="../assets/images/licens_03@3x.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-button-prev swiper-button-prev-doc"></div>
    <div class="swiper-button-next swiper-button-next-doc"></div>
</div>