<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title= title
		link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet")
		link(rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css")
		link(rel="stylesheet" href="../main.scss")
	body
		#app
			block content
		script(src="https://cdn.jsdelivr.net/npm/vue@2.6.11")
		script(src="../main.js")
